/* reset browser styles */
* {
  box-sizing: border-box; 
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

body {
	font-family: Verdana, Helvetica, sans-serif;
}

.header {
	background-color: #3E134E;
	/* background: #cb60b3; */
	background: -moz-radial-gradient(center, ellipse cover, #cb60b3 0%, #c146a1 27%, #a80077 57%, #3e134e 83%, #3e134e 100%);
	/* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #cb60b3), color-stop(27%, #c146a1), color-stop(57%, #a80077), color-stop(83%, #3e134e), color-stop(100%, #3e134e)); */
	background: -webkit-radial-gradient(center, ellipse cover, #cb60b3 0%, #c146a1 27%, #a80077 57%, #3e134e 83%, #3e134e 100%);
	background: -o-radial-gradient(center, ellipse cover, #cb60b3 0%, #c146a1 27%, #a80077 57%, #3e134e 83%, #3e134e 100%);
	background: -ms-radial-gradient(center, ellipse cover, #cb60b3 0%, #c146a1 27%, #a80077 57%, #3e134e 83%, #3e134e 100%);
	background: radial-gradient(ellipse at center, #cb60b3 0%, #c146a1 27%, #a80077 57%, #3e134e 83%, #3e134e 100%);
	padding: 20px;
	margin-bottom: 10px;
}

.header h1 {
	color: white;
	padding: 20px 30px;
	font-size: 2.5em;	
	font-weight: bold;
}

.footer {
	background-color: #C085D6;
	padding: 20px 30px;
	font-size: 0.75em;
	clear: both;
	margin-top: 10px;
}

.footer a:link {
	color: #4D484E;	
	font-weight: bold;
}

/* .footer a:visited {
    color: lime;
} */

.footer a:hover {
    color: #C9BDCE;
}

.footer a:active {
    color: #D603A4;
}

.contentWrapper {
  max-width: 1200px;
  margin: 0 auto; 
}

#drawingCanvas {
	 border: 2px solid black;
	 margin: 10px;
}

#canvasWrapper{
    display: block;
    width: 800px;
    height: 500px;
	float: left;
}

#main {
	clear: both;
	width: 900px;
}

.toolBar {
	float: left;
	font-family: 'Trebuchet MS'; 
	font-size: 14px;
	font-variant: small-caps;
	text-align: center;
	background: #C9BDCE;
	padding: 10px 15px 10px 10px;
	margin-bottom: 1px;
	margin-right: 1px;
	border: 1px solid #7B899B;
	height: inherit;
}

.toolBar button {
	font-family: 'Trebuchet MS';
	font-size: 14px;	
	font-variant: small-caps;
	text-align: center;
}

.toolBarWrapper {
	height: 74px;
}

#verticalToolBar {
	width: 74px;
	height: 495px;
	float: right;
	margin: 10px 0 0 25px;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

#buttonWrapper {
	margin-top: 20px;
	clear: both;
}

.color, .tool {
	 border: 1px solid black;
}

.tool {
	width: 42px;
	height: 29px;
	padding-left: 0;
	margin: 5px 0 0 5px;
}

#fill a:hover {
    color: #D603A4;
}

img.selected {
	border: 3px ridge #4D484E;
}

#saveCanvasArea {
	clear: both;
}
