* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pageWrapper {
	max-width: 120em;
	min-width: 25em;
	margin: 0 auto;
	font-size: 1em;
	width: 60em;
	min-height: 8em;
	max-height: 40em;
}

.header {
	background-color: #9B162E;
	padding: 1.25em;
	width: 60em;
}

.subHeader {
	position: relative;
	right: -6.25em;
	bottom: -0.625em;
}

h1 {
	position: relative;
	left: 3.125em;
	top: 0.625em;
	z-index: 2;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

.footer {
	background-color: #CECDB8;
	padding: 1.25em;
	clear: both;
	width: 60em;
}

.firstColumn {
	float: left;
	width: 15em;
	padding: 0.3125em;
	max-width: 30em;
}

.middleColumn {
	float: left;
	width: 30em;
	padding: 0.3125em;
	max-width: 60em;
}

.lastColumn {
	float: left;
	width: 15em;
	padding: 0.3125em;
	max-width: 30em;
}

img {
    position: relative;
    left: 2.1875em;
    top: -6.875em;
    z-index: 1;
}


